.hero-highlights {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: -200px;
  height: 150px;
  background: rgba(17, 17, 17, 0.8);
  border-top: 1px solid #1d1d1d;
  backdrop-filter: blur(7.5px);
  z-index: 3;
  display: flex;
  justify-content: center;
}

.highlights-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0;
}

.highlight-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight-item img {
  width: 100%;
  height: auto;
}
